body{
    max-width: 1080px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
h1{
    font-size: 16px;
}
#nav-pc ul{
    display: flex;
    padding-left: 0;
}
#nav-pc li{
    list-style: none;
    padding-left: 20px;
}
#nav-pc a{
    text-decoration: none;
    color: black;
}
main img{
    width: 100%;
    height: 100%;
}
#menu-sp{
    display: none;
}
#nav-sp{
    display: none;
}

@media screen and (max-width: 767px){
    body{
        min-width: 375px;
        margin: 0;
    }
#nav-pc{
    display: none;
}
#menu-sp{
    display: block;
   float: right;
   padding: 0;
}
#nav-sp{
    background-color: #ce933e;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 100;
}
#nav-sp ul{
    padding-left: 0;
}
#nav-sp li{
    list-style: none;
}
#close{
    position: absolute;
    top: 20px;
    right: 20px;
}
#logo-sp{
    margin: 80px 0 30px 20px;
}
#nav-sp a{
    display: block;
}
#nav-sp a:link{
    color: #fff
}
#nav-sp a:visited{
    color: #fff;
}
#nav-sp a:hover{
    color: #fff;
    text-decoration: underline;
}
#nav-sp a:active{
    color: #fff;
}
#nav-sp .menu{
    text-decoration: none;
    display: block;
    margin: 0 20px;
    height: 44px;
    font-size: 16px;
    background-image: url("images/arrow.png");
    background-repeat: no-repeat;
    background-position: right top;
}
}